extends ../../layouts/account

block head
  title Agrippa

block body
  div.row(ng-view)
    p Hi {{ 1+2 }}
  div.row
    div(ng-controller="Controller")
      nav-bar(links="links",headinfo="headinfo")
