extends ../../layouts/account

block head
  title Account Area

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')
  script(src='/js/app.js?#{cacheBreaker}')

block body
  div.row(ng-view)
