extends ../../layouts/default

block head
  title About Us

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 Know thyself
      p.lead We offer transparent data collection.
      p We think your data is your property. It should be treated as such. That means you should control who gets it and what they can do with it. Any time it is passed on for money, you get a cut.
      p We also should be clear about what we know about you.
      p It seems odd that a lot of companies make their money by selling information about people that their users cannot see. We expose it, so you can know as much about yourself as possible.
      p Information is the most valuable commodity at the moment. Websites that slip it from you, and don’t say what they have taken are misleading. The amount of data that gets absorbed is a hidden cost of a lot of websites.
      p We want to help you take back control.
  div.row
    div.col-sm-6
    div.col-sm-6
      div.page-header
        h1 You are not a commodity
      p The way to get the most out of the service is to have as much as possible on it.
      p The more you have available the more we can do with it
      p At the same time, you can use the service to keep the data to yourself. We want to support anonymity.
