extends ../../layouts/account

block head
  title About Us

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 Collecting data
      p.lead Helping users protect and cultivate their data is good for everyone
      p If users can control their data, they can
      p It also allows you know bits, you could otherwise have known. Time series, or what someones favourite book is.
  div.row
    div.col-sm-6
    div.col-sm-6
      div.page-header
        h1 What you can do
      p We can ask the questions.
      p With our easy question interface, you can get complex, multifaceted data easily.
      p.lead yadada
